.container {
 display: flex;
justify-content: center;
background-color: #a6b0ae;
  }
  
  button{
  background-color: #5e0510;
  color: white;
  border: none;
   text-transform: uppercase;
   margin-top: 20px;
  }
  h2{
    margin-left: 30px;
  }
  h1{
    
  }